<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XDealerSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <XDealerSample.Properties.Settings>
            <setting name="XMapUrl" serializeAs="String">
                <value>http://localhost:50010/xmap/ws/XMap</value>
            </setting>
            <setting name="GeoDataSource" serializeAs="String">
                <value>default.points-of-interest;[POITYPE] = '7311'</value>
            </setting>
        </XDealerSample.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XRouteWSBinding" maxReceivedMessageSize="10000000"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50030/xroute/ws/XRoute" binding="basicHttpBinding"
                bindingConfiguration="XRouteWSBinding" contract="XRoute.XRouteWS"
                name="XRouteWSPort" />
        </client>
    </system.serviceModel>
</configuration>